{% extends 'inventory/main.html'%}
{% load inventory_tags %}
{%load crispy_forms_tags %}
{% block header%}
Allocate
{% endblock header%}
{%block content%}

  {% if messages %}
  {%for message in messages%}
  <div class="alert alert-{{message.tags}}">
  {{message}}
  </div>
  {% endfor%}
  {% endif %}
  
      <form method="POST">
      {% csrf_token %}
      {{allocateform|crispy}}
      <button class="btn btn-info" type="Submit">Allocate</button>
      </form>
  <br>
     <h5> Current status </h5>
    Room: {{room}} <br>
    Working: {{working}} <br>
    Out of order: {{out_of_order}} <br>
    In Maintenance: {{in_maintenance}}



{%endblock%}
