{% extends 'inventory/main.html'%}
{% load static %}
{%load staticfiles%}
<link rel="stylesheet" href="{% static 'inventory/vendor/bootstrap/css/bootstrap.min.css' %}" />
<script src="{% static 'inventory/vendor/ajax/libs/popper/1.14.6/umd/popper.min.js' %}"></script>
<script src="{% static 'inventory/vendor/jquery/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'inventory/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

{% block header%} Verification Details{% endblock header%}


{% block content %}
{%if messages%}
{%for message in messages%}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{%endfor%}
{%endif%}


<div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Item Details</h3>
    </div>
    <div class="panel-body">
        Name of Item: {{itemObj.name}}
        <br>
        Model: {{itemObj.model}}
        <br>
        Category: {{itemObj.category.category_name}}
        <br>
        Floor: {{itemObj.room.floor}}
        <br>
        Room: {{itemObj.room}}
        <br>
        Cost: {{itemObj.cost_per_item}}
        <br>
        Status: {{itemObj.itemSource}}
    </div>
  </div>

<div class="panel panel-success">
   <!-- Default panel contents -->
   <div class="panel-heading">Verification Log</div>
   <div class="panel-body">
      <table class="table">
         <tr>
            <th>Date Verified</th>
            <th>Verified By</th>
            <th>Working</th>
            <th>Repairable</th>
            <th>Out of Order</th>
            <th>Remarks</th>
         </tr>
         
         {%for item in loglist%}
          <tr>
              <td>{{item.verification_date}}</td>
              <td>{{item.verified_by}}</td>
              <td>{{item.working}}</td>
              <td>{{item.in_maintenance}}</td>
              <td>{{item.out_of_order}}</td>  
              <td>{{item.remarks}}</td>
          </tr>
         {%endfor%}
         
      </table>
   </div>
</div>

  

{% endblock content%}