{% load static %}
{%load staticfiles%}
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Inventory</title>
   <!-- <link href="{% static 'inventory/css/nav.css'%}" rel="stylesheet"> -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'inventory/css/bootstrap.min.css' %}">

   <script src="{% static 'inventory/vendor/jquery/jquery-3.3.1.slim.min.js' %}"></script>
   <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->

   <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
   <script src="{% static 'inventory/vendor/ajax/libs/popper/1.14.6/umd/popper.min.js' %}"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>




</head>

<body>
<style media="screen">
   body {
      overflow-x: hidden;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
   }

   .myDiv {
      font-size: 14px;
   }

   .myValue {
      font-size: 18px;
   }

   #myBar {
      margin-top: 20px;
   }

   .row2 {
      padding-top: 40px;
   }

   .myCard {
      padding: 3px 3px 3px 3px;
   }

   .box1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }
</style>

   <!-- Sidebar -->
   <!-- Sidebar -->
   <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
         <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'home'%}">Dashboard</a>
         </li>
         <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'add1'%}">Add Item</a>
         </li>
         <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'advancedSearch'%}">Search</a>
         </li>
         <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'settings' %}">Settings</a>
         </li>
         <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'chooseCategory' %}">Download</a>
         </li>
         <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'logoutPrompt' %}">Logout</a>
         </li>
         <li class="nav-item active mr-3">
            <a class="nav-link" href="{% url 'register' %}">New User</a>
         </li>
      </ul>
   </nav>

   <!-- Page content -->
   <div class="container">
      <h2 class="well">
      {% block header%}
      {% endblock header%}
      </h2>

      {% block content%}
      {% endblock content%}
   </div>

   <script>
      $("#menu-toggle").click(function(e) {
         e.preventDefault();
         $("#wrapper").toggleClass("active");
      });
   </script>
</body>

</html>